version: "3.9"
name: soar
networks:
  soar:
services:
  soar_rabbitmq:
    image: rabbitmq:3-management
    container_name: soar_rabbitmq
    ports:
      - "5673:5672"
      - "15673:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - soar
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
  soar_postgres:
    image: postgres:15
    container_name: soar_postgres
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=soar
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - soar
    volumes:
      - postgres_data:/var/lib/postgresql/data
  soar_worker:
    build:
      context: ../app/connectors-service
      dockerfile: Dockerfile.worker
    image: soar/worker:latest
    container_name: soar_worker
    volumes:
      - ../app/connectors-service:/app
    environment:
      - CELERY_BROKER=pyamqp://guest:guest@soar_rabbitmq:5672
      - CELERY_BACKEND=db+postgresql://postgres:password@soar_postgres:5432/soar?sslmode=disable
      - MQ_URL=amqp://guest:guest@soar_rabbitmq:5672
      - grpc_workflow_host=soar_backend_service:50051
    networks:
      - soar
    depends_on:
      soar_postgres:
        condition: service_healthy
      soar_rabbitmq:
        condition: service_healthy
  soar_connector_service:
    build:
      context: ../app/connectors-service
      dockerfile: Dockerfile.dev
    image: soar/connector:latest
    container_name: soar_connector_service
    ports:
      - "8000:8000"
    volumes:
      - ../app/connectors-service:/app
    environment:
      - CELERY_BROKER=pyamqp://guest:guest@soar_rabbitmq:5672
      - CELERY_BACKEND=db+postgresql://postgres:password@soar_postgres:5432/soar?sslmode=disable
      - MQ_URL=amqp://guest:guest@soar_rabbitmq:5672
      - use_celery=true
      - grpc_workflow_host=soar_backend_service:50051
    networks:
      - soar
    depends_on:
      soar_postgres:
        condition: service_healthy
      soar_rabbitmq:
        condition: service_healthy
  soar_workflow_service:
    build:
      context: ../app/workflow_service
      dockerfile: Dockerfile.dev
    image: soar/backend:latest
    container_name: soar_backend_service
    ports:
      - "8080:8080"
    volumes:
      - ../app/workflow_service:/app
    environment:
      - DB_USER=postgres
      - DB_PASSWORD=password
      - DB_HOST=soar_postgres
      - DB_PORT=5432
      - DB_NAME=soar
      - MQ_USER=guest
      - MQ_PASSWORD=guest
      - MQ_HOST=soar_rabbitmq
      - MQ_PORT=5672
      - AIR_POLL=true
      - AIR_WATCH_TMOUT=500ms
    networks:
      - soar
    depends_on:
      soar_postgres:
        condition: service_healthy
      soar_rabbitmq:
        condition: service_healthy
  soar_nginx:
    build: ../app/nginx
    container_name: soar_nginx
    ports:
      - "9999:9999"
    volumes:
      - ../app/nginx/nginx.conf:/etc/nginx/nginx.conf
    restart: unless-stopped
    depends_on:
      - soar_connector_service
      - soar_workflow_service
    networks:
      - soar
volumes:
  postgres_data:
  rabbitmq_data:
